body{
    height : 100vh ;
    display : flex ; 
    align-items: center ;
    justify-content :center ;
    font-family: 'League Spartan', sans-serif;
    flex-direction: column;
    background-image: url(images/bg-pattern-top-mobile.svg),url(images/bg-pattern-bottom-desktop.svg);
    background-repeat: no-repeat , no-repeat;
}

.all{
    height: 70%;
    width: 70%;
    align-self: center;
    border-radius: 15px;
    padding-top: 10px;
}

.above{
    width: 80%;
    display: inline-block;
    margin-left: 100px;
}

.left{
    width: 50%;
    float: left;
}

h1{
    color:hsl(300, 43%, 22%);
    font-size: 40px;
    margin-top: 0;
    margin-bottom: 7px;
}

.description{
   color:hsl(303, 10%, 53%);
   font-size: 14px;
   line-height: 1.3em;
}

.right{
    width: 50%;
    float: right;
}

.rate{
    height: 40px;
    width: 365px;
    border-radius: 5px;
    background-color: hsl(300, 24%, 96%);
    margin-bottom: 15px;
    display: flex;
    flex-direction: row; /* Stack items vertically */
    align-items: center; /* Center items vertically */
    justify-content: center; /* Center items horizontally */
}

.rate2{
 margin-left: 20px;
}

.rate3{
 margin-left: 40px;
}

.star{
    width: 15px;
    height: 15px;
    padding: 1px;
}

.review{
  font-size: 15px;
  color:hsl(300, 43%, 22%);
  font-weight: 700;
}

.stars{
    margin-right: 15px;
}

.bottom{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 30px;
}

.buyer{
height:30%;
width: 21%;
background-color: hsl(300, 43%, 22%);
margin-left: 20px;
margin-bottom: 10px;
padding: 25px;
border-radius: 8px;
}

.buyer2{
    margin-top: 10px;
}

.buyer3{
    margin-top: 20px;
}

.profile{
    display:flex ;
    flex-direction: row;
    vertical-align: middle;
}

.buyerphoto{
    border-radius: 50px;
    height: 40px;
    width: 40px;
    padding-bottom: 0;
    margin-right: 15px;
}

.information h6{
color:white;
font-size: 14px;
padding-bottom: 2px;
padding-top: 7px;
}

.information p{
color:hsl(333, 80%, 67%);
font-size: 12px;
}

.opinion{
    color:white;
    font-size: 13px;
    line-height: 1.3em;
}

h6,
p{
    margin: 0;
    padding: 0;
}